<!DOCTYPE HTML >
{% load static %}
<title>Home</title>
<style>
    div{
        background-color:aqua;
        height:95px;
        }

</style>
<body bgcolor="white" style="color:black">
  <div>
    <center>
        <h1 style="color:white;font-family: tahoma,sans-serif;font-size:65px;" >
            PeaceFul
                  Trip✈️
        </h1>
    </center>
  </div>



<center>
         <section id="Welcome">
                <h2>Welcome to our PeaceFull Trip</h2>
                <h3>Plan your dream trip with ease and convenience. Explore amazing destination and create your personalized itinerary.</h3>
         </section>
    <center/>
    <hr>
    <h3>Famous tourism cool Places in India</h3>

    </center>

<table>
    <tr>
        <td><img src="{% static '/images/kodaikanal.jpg'%}" width="650" height="350" alt="not loaded"></td>
        <td>
            <p>Known as kodaikanal's best kept secret, Poombarai is another picturesque village in Kodai hills that has stunning terraced landscapes enveloped by green mountains and valleys.
            Poombarai is situated just 50 km from the Kodaikanal Lake and is a tiny hamlet famous for its production of garlic. It is a part of Palani hills and stands at a height of 1,920 m, situated among terraced fields and vast, lush greenery. The picture-perfect Poombarai is adorned with the view of colourful roofs of houses set amidst the enticing hills. <p/>
        </td>
    </tr>

    <tr>
        <td>
            <center>
            <h4>Kodaikanal in Tamil Nadu</h4>
            </center>
        </td>
    </tr>

    <tr>
        <td>
            <p>Aamby Valley is a beautiful township about 24 kilometres from Lonavala, in the district of Pune in Maharashtra, India. It has been developed by Sahara India Parivar. The 10,000-acre hilly terrain that the township now occupies has been converted into a splendid landscape through designs that are best suited for the environment and have an urban infrastructure compatible to international standards. The township is frequented for a day-long picnic or a weekend getaway by many. The luxurious urban infrastructure, the tranquil ambience and exclusive privileges at this exotic location attract tourists from all over the world. The mesmerizing natural surroundings and best in class infrastructure are sure to take your breath away. Aamby Valley, Lonavala must be experienced at least once in the lifetime.</p>
        </td>
        <td><img src="{% static '/images/aamby valley.jpg'%}" width="634" height="300"></td>
    </tr>
    <tr>
        <td></td><td><h4><center>Aamby Valley in Maharashtra</center></h4></td>
    </tr>
</table>
<hr>

<center><h3>Just you decide the place were to go. We arange all kind of things. </h3>
    <h3>Domestic Tourism management</h3>

    <h2> Food | Hotels | Travelling Guide | Up and Down Tickets  </h2>
</center>

<hr>

    <table>
        <tr>
            <td><img src="{% static '/images/coorg hotel.jpg'%}"></td>
            <td>
                <p>
One of the popular tourist spots in Coorg, Kotebetta is third highest peak in Coorg region after Tadiyandamol and Brahmagiri. At a height of approximately 1620 m above the sea level, Kotebetta is situated in Madapur which is located between the Somwarpet and Madikeri towns. It is at the border between the Dakshina Kannada and Coorg districts and can be easily reached without much of a hassle.

The name of Kotebetta has been derived from word Kote Betta which means Fort Hill. This is because the hill resembles a fort in its appearance. One can also find a temple dedicated to the Lord Shiva at the peak of the hill.
                </p>
            </td>
        </tr>

        <tr>
                <td>
                    <center>
                    <h3>Coorg in Karnataka</h3>
                    </center>
                </td>
        </tr>

         <tr>
        <td>
            <p>Dotted with the apple orchards, old oaks, and pine trees there is no dearth of natural beauty in Auli. Apart from skiing you can also go for numerous treks in the hills of Garhwal Himalayas and enjoy the spellbinding views of the snow-draped mountains. Auli is a popular hill resort in the Himalayan range dating back to the 8th Century AD. The Garhwal Mandal Vikas Nigam Limited (GMVL) runs a ski resort and a ski rental shop. </p>
        </td>
                <td><img src="{% static '/images/auli Uttarakhand-750x450.jpg'%}" width="634" height="300"></td>
        </tr>
        <tr>
                <td></td><td><h4><center>Auli in Uttarakhand</center></h4></td>
        </tr>

        <tr>
            <td><img src="{% static '/images/munnar.jpg'%}" width="600" height="300"></td>
            <td>Munnar is a town and hill station in the Idukki district of the southwestern Indian state of Kerala. Munnar is situated at around 1,600 metres above mean sea level, in the Western Ghats mountain range. Munnar is also called the "Kashmir of South India" and is a popular honeymoon destination.</td>

        </tr>
        <tr>
            <td>
                <center>
                <h4>Munnar in Kerala</h4>
                 </center>
            </td>
        </tr>
    </table>

    <h3> <a href="register">Click Here for Prebooking your Trip</a></h3>



<hr>


  <footer style="background-color:aqua;">
            <h1>Contact</h1>
    <h2>peacefultrip.officialtrips@gmail.com</h2>
    <h3>7th venue street Tirumangalam </h3>
    <h4> &copy; 2023 PeaceFul Trip</h4>


  </footer>

</body>

