
    <title>Thankyou</title>

<style>
    div{
        background-color:aqua;
        height:95px;
        }

</style>
<body bgcolor="white" style="color:black">
  <div>
    <center>
        <h1 style="color:white;font-family: tahoma,sans-serif;font-size:65px;" >
            PeaceFul
                  Trip✈️
        </h1>
        <h2>Thankyou succesfully you Booked</h2>
        <h3>Our team will contact you with in 2hours for confirm your trip and payments.</h3>


      <P>
          <a href="Home">Home</a>
      </P>




  <footer style="background-color:aqua;">
            <h1>Contact</h1>
    <h2>peacefultrip.officialtrips@gmail.com</h2>
    <h3>7th venue street Tirumangalam </h3>
    <h4> &copy; 2023 PeaceFul Trip</h4>


  </footer>


 </center>
 </body>
